<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asoit.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application

        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".auth.SignInUsingEmailAndPassword" android:windowSoftInputMode="adjustResize" android:theme="@style/NoActionBar"></activity>
        <activity android:name=".auth.EmailAndPasswordActivity" android:windowSoftInputMode="adjustResize" android:theme="@style/NoActionBar" />
        <activity android:name=".auth.VerifyActivity"  android:windowSoftInputMode="adjustResize" android:theme="@style/NoActionBar" />
        <activity android:name=".auth.OtpVerification"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/NoActionBar">

        </activity>
        <activity android:name=".student.home.starttest.StartExamActivity" />
        <activity
            android:name=".faculty.FacultyController"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".student.home.questions.QuestionsActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".student.StudentHomeActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".auth.LoginActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>